*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-family: 'Roboto', sans-serif;
}

.side-bar{z-index:0;display:flex;flex-wrap:wrap;background-color:#f5f6fa}
@media (min-width: 50rem){
	.side-bar{flex-wrap:nowrap;position:fixed;width:248px;height:100%;flex-direction:column;border-right:1px solid #eeebee;align-items:flex-end}
}
@media (min-width: 66.5rem){
	.side-bar{width:calc((100% - 1064px) / 2 + 264px);min-width:264px}
}
@media (min-width: 50rem){
	.main{position:relative;max-width:800px;margin-left:248px}
}
@media (min-width: 66.5rem){
	.main{margin-left:calc( (100% - 1064px) / 2 + 264px )}
}

.site-nav,.site-header,.site-footer{width:100%}
@media (min-width: 66.5rem){
	.site-nav,.site-header,.site-footer{width:264px}
}
.site-nav{display:none}
.site-nav.nav-open{display:block}
@media (min-width: 50rem){
	.site-nav{display:block;padding-top:3rem;padding-bottom:1rem;overflow-y:auto;flex:1 1 auto}
}
.site-header{display:flex;min-height:60px;align-items:center}
@media (min-width: 50rem){
	.site-header{height:60px;max-height:60px;border-bottom:1px solid #eeebee}
}


.site-title{padding-right:1rem;padding-left:1rem;flex-grow:1;display:flex;height:100%;align-items:center;padding-top:.75rem;padding-bottom:.75rem;color:#27262b;font-size:18px !important}
@media (min-width: 50rem){
	.site-title{padding-right:2rem;padding-left:2rem}
}
@media (min-width: 31.25rem){
	.site-title{font-size:24px !important;line-height:1.25}
}
@media (min-width: 50rem){
	.site-title{padding-top:.5rem;padding-bottom:.5rem}
}
.site-title:hover{background-image:linear-gradient(-90deg, #ebedf5 0%, rgba(235,237,245,0.8) 80%, rgba(235,237,245,0) 100%)}

.lh-tight{line-height:1.25}

.site-button{display:flex;height:100%;padding:1rem;align-items:center}
@media (min-width: 50rem){
	.site-header .site-button{display:none}
}
.site-button:hover{background-image:linear-gradient(-90deg, #ebedf5 0%, rgba(235,237,245,0.8) 100%)}

.nav-list{padding:0;margin-top:0;margin-bottom:0;list-style:none}
.nav-list-item{font-size:14px !important;position:relative;margin:0}
@media (min-width: 31.25rem){
	.nav-list .nav-list-item{font-size:16px !important}
}
@media (min-width: 50rem){
	.nav-list .nav-list-item{font-size:12px !important}
}
@media (min-width: 50rem) and (min-width: 31.25rem){
	.nav-list .nav-list-item{font-size:14px !important}
}